.cards {
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 10px;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
